footer {
	background: linear-gradient(to bottom, transparent 40%, black 100%), url(../../img/head-bg.jpg) center center;
	background-size: cover;
}
footer p {
	padding: 50px 30px;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}